/* Menu */

.streetcleaning-theme .menu,
.streetcleaning-theme .menu .item,
.streetcleaning-theme .menu .item .item-content {
    background-color: #d4121b;
}
.streetcleaning-theme .menu .item {
    border-color: #d4121b;
    color: #FFFFFF;
}
.streetcleaning-theme .menu .item .item-content.activated {
    color: #BCC0E7;
}
.streetcleaning-theme .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 2em;
    vertical-align: middle;
}

.streetcleaning-theme .bar {
    background-color: #f92c37;
    border-color: #f92c37;
    color: #FFFFFF;
}

.streetcleaning-theme .bar.bar-footer {
    background-color: #e12d20;
    border: 0;
    padding: 0;
}

.streetcleaning-theme .bar .button {
/*    border-color: #010101;*/
/*	background-color: #cccccc;*/
    color: #FFFFFF;	
}

.tt-day {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.tt-day.btn {
    font-size: 30px;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
    background-color:#d4121b;
    color: #FFFFFF;
    height: 40px;
    padding: 7px;
   
}

.sc-popup-button-red {
  background: transparent;
  color: #FFFFFF;
  font-weight: bold;
  background-color:#d4121b;

}

.sc-popup-button-blue {
  background: transparent;
  color: #FFFFFF;
  font-weight: bold;
  background-color:#00adc2;

}