@font-face {
    font-family: 'welive';
    src:    url('../fonts/welive.eot');
    src:    url('../fonts/welive.eot') format('embedded-opentype'),
        url('../fonts/welive.ttf') format('truetype'),
        url('../fonts/welive.woff') format('woff'),
        url('../fonts/welive.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="welive-"], [class*=" welive-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'welive' !important;
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.welive-credits:before {
    content: "\e900";
}
.welive-list:before {
    content: "\e901";
}
.welive-star_outline:before {
    content: "\e902";
}
.welive-star:before {
    content: "\e903";
}

/* Menu */

.streetcleaning-theme .menu,
.streetcleaning-theme .menu .item,
.streetcleaning-theme .menu .item .item-content {
    background-color: #d4121b;
}
.streetcleaning-theme .menu .item {
    /* font-family: welive; */
    border-color: #d4121b;
    color: #FFFFFF;
}
.streetcleaning-theme .menu .item span {
    position: absolute;
    /*top: 40%;*/
    left: 50px;
    color: #FFFFFF;
}

.streetcleaning-theme .menu .item .item-content.activated {
    color: #BCC0E7;
}
.streetcleaning-theme .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 1.5em;
    vertical-align: sub;
}

.streetcleaning-theme .bar {
    background-color: #d4121b;
    border-color: #d4121b;
    color: #FFFFFF;
}

.streetcleaning-theme .bar.bar-footer {
    background-color: #e12d20;
    border: 0;
    padding: 0;
}

.button-icon.button.active, .button-icon.button.activated {
    opacity: 0.5;
}

.streetcleaning-theme .bar .button {
/*    border-color: #010101;*/
/*	background-color: #cccccc;*/
    color: #FFFFFF;	
}

.tt-day {
    font-size: 20px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    white-space: nowrap;
}
.tt-day div {
    line-height: 1.6;
}
.tt-day small {
    font-size: 75% !important;
    text-transform: initial;
}
.tt-day a {
    color: #fff;
}

.tt-day.btn {
    font-size: 30px;
}

.popup-head {
    padding: inherit;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
    background-color:#d4121b;
    color: #FFFFFF;
    height: 40px;
    padding: 7px;
   
}

.sc-popup-button-red {
  background: transparent;
  color: #FFFFFF;
  font-weight: bold;
  background-color:#d4121b;

}

.sc-popup-button-blue {
  background: transparent;
  color: #FFFFFF;
  font-weight: bold;
  background-color:#00adc2;

}

.marker-item {
  border: 0;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.marker-item div {
  font-size: 18px;
  /*font-weight: bold;*/
  white-space: normal;
}

.marker-item-search {
  border: 0;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.marker-item h3 {
  font-size: 16px;
  /*position: absolute;*/
  /*top: inherit;*/
  /*left: 65px;*/
}
.marker-item img {
  width: 28px;
  height: 28px;
}
.marker-item-star {
    font-size: 150%;
    color: red;
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 10px;
}

.marker-detail-tt {
    padding: 0px;
    border-style: hidden;
}
.marker-detail-tt > div {
    text-align:center;
    background-color:#e12d20;
    font-size:18px;
    color:#ffffff;
    padding: 5px;
 }
 
 .marker-detail-tt h2 {
    font-size:16px;
    padding: 5px;
     
 }
 
 .popup img {
      width: 28px;
      height: 28px;
 }
 
 .search .row :nth-child(1){
    border-bottom: 1px solid #000;
    width: 80%;
}

.search .row :nth-child(2) {
   background-color: #00adc2;
   color: white;
   position: absolute;
   right: 5px;
   top: 10px;
   /*position: absolute;
   right: 15px;
   width: 15%;
   height: 30%;
   top: 10px;*/
}

.credits_title {
    text-align: center;
    color: #2975a7;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_row.version {
    color: #aaa;
}

.credits_version {
    text-align: center;
}

/** TERMS AND CONDITIONS. **/

.terms div {
  padding: 5px;
  text-align: justify;
}

/*.terms div.help_title {
  font-weight: bold;
  font-size: 14px;
  text-align: center
}*/

/*.terms div.policy_text p.tool_tit {
  font-size: 14px;
}*/

.terms div.help_title{ 
    /*font-size: 20px;*/
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 5%;
    /*margin-top: 1em;*/
    /*margin-top:60px;*/
    text-align: center;
    width: 90%;}    
    
.terms div.start_title{ font-size: 45px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}  
    
.terms div.start_subtitle{ font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.8em;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}   
 
.terms div.tips{ line-height: 24px;
    margin-bottom: 1em;
    margin-left: 5%;
    text-align: center;
    width: 90%;}

.terms div.tool_title{font-weight:bold; margin-bottom:10px;}
.terms div.tool_desc{font-size: 13px; line-height: 18px;}
.terms div.help_icon{ float:left;width:20%; text-align:center;}
.terms div.help_text{ float:left; width:77%;}
.terms div.policy_text.policy_text{float:left; width:98%; }
.terms div.policy_text.policy_text p {margin-bottom:10px; text-align:justify;}
.terms div.policy_text.policy_text ul li {font-size:11px; margin-bottom:5px;}

.disclaimer-popup .button-disclaimer {
    font-size: 14px;
}

.disclaimer-popup .popup-title{
        font-size: 22px;
        font-weight: bold;
        background-color:#d4121b;
        color: #FFFFFF;
        height: 40px;
        padding: 7px;
}

.marker-popup .popup-head{
    display: none;
}
.marker-popup {
    top: initial;
}
.marker-popup .popup {
    width: 100%;
}
.marker-popup .popup-buttons {
    background-color: #00adc2;
    min-height: 0;
}

.marker-popup .popup-buttons button {
    padding: 0;
    background-color: transparent;
    min-height: 0;
}

.marker-popup .sc-popup-button-red {
    text-align: left;
}
.marker-popup button:not(.sc-popup-button-red) {
    text-align: right;
}

.marker-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}
.marker-card > div {
    padding: 16px;
}
.marker-card .marker-card-buttons {
    padding: 12px 16px;
    background-color: #00adc2;
    color: #fff;
}
.marker-card .marker-card-buttons .close {
    color: #fff;
    background-color: #00adc2;
    text-align: left;
    border: 0;
}.marker-card .marker-card-buttons .details {
    color: #fff;
    background-color: #00adc2;
    border: 0;
    float: right;
}