<ion-view>
    <ion-nav-title>{{ 'app_name' | translate }}</ion-nav-title>
    <ion-content scroll="false">
        <div class="row" style="background-color:#e12d20;color: #ffffff;">
            <div class="col col-25 tt-day btn" ng-click="prevDate()"><a><i class="icon ion-arrow-left-b"></i></a>
            </div>
            <div class="col col-50 tt-day">{{runningDate | date : 'dd/MM/yyyy'}}</div>
            <div class="col col-25 tt-day btn" ng-click="nextDate()"><a><i class="icon ion-arrow-right-b"></i></a>
            </div>
        </div>
        <div id="modal-map-container" data-tap-disabled="true" ng-if="mapView">
            <!--style="width: 100%; height: 790px;" {{style()}}-->
            <leaflet bounds="bounds" center="center" paths="pathLine" markers="markers" id="scMap" ng-style="mapStyle" ng-init="initMap()"></leaflet>
        </div>

        <div ng-if="!mapView">
            <ion-scroll ng-style="mapStyle">
                <ion-list>
                    <ion-item ng-repeat="marker in markers" class="marker-item">
                        <div class="col" ng-click="showMarkerDetails(marker, runningDate)">
                            <h2>{{ marker.streetName }}</h2>
                            <br>
                            <img ng-src="img/sign.png">
                            <!--style="width: 30px;height: 30px;"-->
                            <h3>{{ marker.streetSchedule }}</h3>
                        </div>
                        <div class="col" ng-if="marker.favorite" ng-click="markFavorite(marker)">
                            <span>&bigstar;</span>
                        </div>
                        <div class="col" ng-if="!marker.favorite" ng-click="markFavorite(marker)">
                            <span>&star;</span>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-icon ion-map" ng-class="{'active': !mapView}" ng-click="mapViewShow()"></button>
            <button class="button button-icon ion-ios-list-outline" ng-class="{'active': mapView}" ng-click="listViewShow()" </button>
        </div>
    </div>

</ion-view>