<ion-view>
    <ion-nav-title>{{streetName}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <a href="#" class="button button-icon" ng-class="{'welive-star':favorite, 'welive-star_outline':!favorite}" ng-click="markFavorite(streetName)"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="text-center" ng-if="!!keys && keys.length == 0">
            <h4 style="padding: 16px;">{{'no_timetable_found' | translate}}</h4>
        </div>
        <h3 ng-if="keys && keys.length > 0"style="font-size: 20px;text-align: center;padding: 7px;">{{ 'lbl_calendar_title' | translate }}</h3>
        <div class="marker-detail-tt" ng-repeat="key in keys">
            <!--{{getLocale(key)}}-->
            <div class="item item-divider" ng-bind-html="getLocale(key)"></div>
            <ion-item class="marker-detail-tt" ng-repeat="item in associatedMap[key]">
                <h2>{{ item.formattedDate }}</h2>
            </ion-item>
        </div>
    </ion-content>
</ion-view>