<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar" align-title="left">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-if="!initialSetup"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="icon ion-home"></i><span>{{'lbl_home'| translate}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search">
                    <i class="icon ion-search"></i><span>{{'lbl_search'| translate}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/preference">
                    <i class="icon welive-star"></i><span>{{'lbl_preference'| translate}}</span>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/termine">
                    <i class="icon ion-alert-circled"></i><span>{{'lbl_terms_of_service'| translate}}</span>
                </ion-item>
                <!-- <ion-item nav-clear menu-close href ng-click="questionnaireWindow()">
                    <i class="icon ion-help-circled"></i><span>{{'lbl_questionnaire'| translate}}</span>
                </ion-item> -->
                <ion-item nav-clear menu-close href="#/app/credits">
                    <i class="icon ion-information-circled"></i><span>{{'lbl_about'|translate}}</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>