<div>
<div><h2 style="font-size: 14px;white-space: normal;">{{streetName}}</h2></div>
<div><img ng-src="img/ic_noEntry.png" style="width: 38px;height: 38px;"></div>
<div><h3 style="position: absolute;left: 70px;top: 50%;font-size: 14px;white-space: normal;">{{streetSchedule}}</h3></div>
</div>
<!--style="position: position: absolute;left: 70px;
top: 50%;"-->
<!--<div class="row"><h2 style="font-size: 14px;white-space: normal;">{{streetName}}</h2></div>
<div class="row">
<div class="col"><img ng-src="img/ic_noEntry.png" style="width: 38px;height: 38px;"></div>
<div class="col" style="position: position: absolute;left: 70px;top: 50%;"><h3 style="font-size: 14px;white-space: normal;">{{streetSchedule}}</h3></div>
</div>
<!--style="position: position: absolute;left: 70px;
top: 50%;"-->