<!-- <h2 style="font-size: 14px;white-space: normal;">{{streetName}}</h2>
<div class="row">
    <img ng-src="img/ic_divietoSosta.png" style="width: 38px;height: 38px;">
    <h3 class="col col-center" style="font-size: 14px;white-space: normal;">{{streetSchedule}}</h3>
</div> -->

<b>{{ marker.streetName }}</b><span ng-if="marker.lato"> - {{marker.lato}}</span><br>
<span ng-if="marker.tratto">{{marker.tratto}}</span>
<div class="row" ng-if="marker.startingTime">
    <span class="col col-center">{{ marker.streetSchedule }}</span>
</div>
<div class="row" ng-if="marker.stopStartingTime">
    <img ng-src="img/ic_divietoSosta.png" style="width: 25px;height: 25px; margin: auto">
    <span class="col col-center">{{ marker.stopStreetSchedule }}</span>
</div>
