<ion-view hide-back-button="accepting" hide-nav-bar="accepting">
    <ion-nav-title>{{'lbl_terms_of_service'| translate}}</ion-nav-title>
    <ion-content class="padding">
        <!--<div ng-include="'resources/terms-it.html'"></div>-->
        <div ng-include="termsfile" class="terms"></div>
        <div ng-if="accepting" style="text-align:center;">
            <div class="button button-calm" ng-click="acceptPrivacy()">{{'lbl_accept' | translate}}</div>
            <div class="button " ng-click="refusePrivacy()">{{'lbl_reject' | translate}}</div>
        </div>
    </ion-content>
</ion-view>