.navbar-default {
	background: #438699;
	font-weight: bold;
}
.navbar-default .navbar-text {
  		color: #ffffff;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus {
  	color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #d9e6ea;
} 

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:visited,
.navbar-default .navbar-nav > .disabled > a:hover {
	color: #8eb6c1;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:link, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:visited, 
.navbar-default .navbar-nav > .active > a:focus {
 	color: #ffffff; /*#555555;*/
  	background: #356b7a;
}

.panel-default > .panel-heading{
	color: #ffffff;
	background-color: #438699;
	border-color: #438699;
	background-image: none;
}

/* .navbar-inverse {
	background-color: #639B3D;
	border-color: #639B3D;
}

.navbar-inverse .navbar-brand {
	background-color: #639B3D;
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: black;
}

.navbar-inverse .navbar-nav>li>a {
	color:white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color:#d3d7cf;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #639B3D;
	color: black;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #639B3D;
	color: black;
}

.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #639B3D;
}

.navbar-inverse .navbar-nav>.open>a {
	background-color: #639B3D;
	color: black;
}

.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #639B3D;
	color: black;
}

.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #639B3D;
} */

.dropdown-menu>.active>a {
	background-color: #639B3D;
}

.ac-container .ac-menu {
	z-index: 2150000000 !important;
}

.ui-autocomplete {
	background-color: white;
	width: 300px;
	border: 1px solid lightgrey;
	list-style-type: none;
	padding-left: 0px;
	z-index: 2150000000 !important;
}

.ui-menu-item.ui-state-focus {
	background-color: lightgrey;
}

.list-title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.list-create {
	margin-top: 1em;
	margin-bottom: 1em;
}

.row.list-search {
	margin-top: 1em;
	margin-bottom: 1em;
}

.row.list-row {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

.row.list-header {
	text-transform: uppercase;
	border-bottom-color: #639B3D;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-align: center;
}

.list-header h4 {
	font-weight: bold;
}

.row.list-header-timetable {
	text-transform: uppercase;
	border-bottom-color: #F15A24;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.list-header-timetable h4 {
	font-weight: bold;
}

.modal.modal-wide .modal-dialog {
  width: 95%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

#divTimetable {
	overflow: scroll;
}

.typeahead.active {
	background-color: lightgrey;
}

.color-picker {
	display: inline-block;
	width: 2em;
	height: 1em;
	vertical-align: middle;
	border: black;
	border-style: solid;
	border-width: 1px;
}

.modal-header.create {
	background-color: #639B3D;
	color: white;
	font-weight: bold;
}

.modal-header.edit {
	background-color: #337AB7;
	color: white;
	font-weight: bold;
}

.modal-header.view {
	background-color: #5BC0DE;
	color: white;
	font-weight: bold;
}

.modal-header.timetable {
	background-color: #F0AD4E;
	color: white;
	font-weight: bold;
}

.modal-footer {
	text-align: left;
}

.ui-datepicker-trigger {
	background-color: #00C853;
}

.angular-google-map-container {
    height: 650px; 
}

div.map_margins {
	margin-bottom: 10px;
    margin-top: 10px;
}

.data-wrapper{
	margin-bottom: 10px;
    margin-top: 10px;
}
